@using AdminPortal.Models
@using Newtonsoft.Json
@model IEnumerable<dynamic>

@section style
    {
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <style>
        .details-control:hover {
            cursor: pointer;
        }
    </style>
}
<div class="container-fluid border-radius-lg">
    <div class="row">
        <div class="card shadow">
            <div class="card-header mb-0 pb-0">
                <div class="row">
                    <div class="col-md-2">
                        @{
                            string downloadAction = "";
                            if (ViewBag.action == "Outbox")
                            {
                                downloadAction = "Download";
                            }
                            else if(ViewBag.action == "OutboxCamp")
                            {
                                downloadAction = "DownloadCamp";
                            }
                            else if (ViewBag.action == "Inbox")
                            {
                                downloadAction = "Inbox";
                            }
                            else if (ViewBag.action == "ActivityLog")
                            {
                                downloadAction = "ActivityLog";
                            }
                            else if (ViewBag.action == "SMSSummary")
                            {
                                downloadAction = "SMSSummary";
                            }
                        }
                        <a class="btn btn-sm bg-gradient-dark downloadlink" target = "_blank" href="/Reports/@downloadAction?sender=@ViewBag.sender&receiver=@ViewBag.receiver&datetime=@ViewBag.datetime&smstype=@ViewBag.smstype">Download</a>
                    </div>
                    <div class="col-md-10">
                        <form id="form" method="GET" action="/Reports/@ViewBag.action">
                            <div class="row">
                                <div class="col-md-2">
                                    <input type="text" name="sender" class="form-control form-control-sm" placeholder="Sender" value="@ViewBag.sender" />
                                </div>
                                <div class="col-md-2">
                                    <select class="form-control form-control-sm smstype" name="smstype" id="smstype" value="@ViewBag.smstype">
                                        <option value="">--Select SMS Type--</option>
                                        <option value="1">Quick SMS</option>
                                        <option value="2">API</option>
                                        <option value="3">Personalized SMS</option>
                                        <option value="4">Campaign SMS</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <input type="text" name="receiver" class="form-control form-control-sm" placeholder="Receiver" value="@ViewBag.receiver" />
                                </div>
                                <div class="col-md-3">
                                    <input class="form-control form-control-sm bg-light shadow border-0" type="text" name="datetime" id="datetime" value="@ViewBag.datetime" />
                                </div>
                                <div class="col-md-3">
                                    <button type="submit" class="btn bg-gradient-dark sender-button btn-sm" id="fetch">Search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-body mt-0 pt-0">
                <div class="table-responsive">
                    <table class="table table-sm table-bordered table-striped" id="MainTable">
                        <thead class="bg-gradient-dark text-white">
                            <tr>
                                <td></td>
                                <td>Id</td>
                                <td>User Name</td>
                                <td>SMS Type</td>
                                <td>Sender</td>
                                <td>Receiver</td>
                                <td>Message</td>
                                <td>Sent Time</td>
                                <td>Network Time</td>
                                <td>Status</td>
                                <td>Cost</td>
                                <td hidden>Route</td>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (Model.Count() > 0)
                                {
                                    foreach (var v in Model)
                                    {
                                        <tr>
                                            <td class="details-control">
                                                <i class="fa fa-plus-circle"></i>
                                            </td>
                                            <td>@v.outbox_id</td>
                                            <td>@v.username</td>
                                            <td>@v.smstype</td>
                                            <td>@v.masking</td>
                                            <td>@v.receiver</td>
                                            <td><textarea class="form-control" rows="3" cols="20" readonly>@v.msgdata</textarea></td>
                                            <td>@v.senttime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                                            <td>@v.deliveredtonetwork</td>
                                            <td>@v.status</td>
                                            <td>@v.cost</td>
                                            <td hidden>@v.route</td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
                <nav aria-label="Page navigation example align-middle">
                    <ul class="pagination">

                        @if (ViewBag.PageNumber > 1)
                        {
                            <li class="page-item text-white"><a class="page-link bg-gradient-dark text-white" href="/Reports/@ViewBag.action?Id=1&sender=@ViewBag.sender&receiver=@ViewBag.receiver&datetime=@ViewBag.datetime">1</a></li>
                            <li class="page-item text-white">
                                <a class="page-link bg-gradient-dark text-white" href="/Reports/@ViewBag.action?Id=@((int)ViewBag.PageNumber-1)&sender=@ViewBag.sender&receiver=@ViewBag.receiver&datetime=@ViewBag.datetime" aria-label="Previous">
                                    <i class="fa fa-angle-left"></i>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                        }

                        <li class="m-2 border-radius-md bg-light"><strong>&nbsp;&nbsp;&nbsp;@ViewBag.PageNumber&nbsp;&nbsp;&nbsp;</strong></li>

                        @if (ViewBag.PageNumber < ViewBag.totalPages)
                        {
                            <!--Next Page-->
                            <li class="page-item text-white">
                                <a class="page-link bg-gradient-dark text-white" href="/Reports/@ViewBag.action?Id=@((int)ViewBag.PageNumber + 1)&sender=@ViewBag.sender&receiver=@ViewBag.receiver&datetime=@ViewBag.datetime" aria-label="Next">
                                    <i class="fa fa-angle-right"></i>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                            <li class="page-item text-white"><a class="page-link bg-gradient-dark text-white" href="/Reports/@ViewBag.action?Id=@ViewBag.totalPages&sender=@ViewBag.sender&receiver=@ViewBag.receiver&datetime=@ViewBag.datetime">@ViewBag.totalPages</a></li>
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
@section scripts
    {
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="~/Scripts/ProjectScript/CommonMethods.js"></script>
    <script>
        $(document).ready(function () {
            $('.smstype').select2();
            @*$('.smstype').val(@ViewBag.smstype);*@
        });
        $(function () {
            $('input[name="datetime"]').daterangepicker({
                opens: 'left',
                locale: {
                    format: 'YYYY-MM-DD'
                }
            });
        });
        var table = $('#MainTable').DataTable({
            paging: false,
            searching: false,
            ordering: false,
            info: false,
        });
        function format(rowData) {
            var str = '<table class="table no-margin dataTable no-footer bg-gradient-dark table-bordered" id="detailsTable">' +
                '<tbody><tr class="text-white"><td><b>Route Name</b></td><td>' + rowData + '</td></tr>';

            return str + '</tbody></table>';
        }
        $(function () {
            $('#MainTable tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var data = $('#MainTable').DataTable().row($(this).closest('tr')).data();
                var td = tr.find('.details-control').first();
                var i = td.find('.fa').first();
                var row = table.row(tr);

                if (row.child.isShown()) {
                    row.child.hide();
                    i.removeClass("fa fa-minus-circle");
                    i.addClass("fa fa-plus-circle");
                }
                else {
                    row.child(format(data[11])).show();
                    i.removeClass("fa fa-plus-circle");
                    i.addClass("fa fa-minus-circle");
                }
            });
        });
        //$('.downloadlink').click(function () {
        //    ShowDivSuccess1("Please wait...");
        //});
    </script>
}