@model List<AdminPortal.Models.GroupMasterModel>
@{
    ViewBag.Title = "Groups";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <a href="@Url.Action("CreateGroup", "Group")" class="btn bg-gradient-dark">
                        <i class='fas fa-plus'></i> Create
                    </a>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table align-items-center mb-0 tblmanage" id="mainTable">
                                    <thead>
                                        <tr>
                                            <th hidden>Id</th>
                                            <th>Name</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            foreach (var v in Model)
                                            {
                                                var status = v.Status == 1 ? "Active" : "In Active";
                                                <tr>
                                                    <td hidden>@v.id</td>
                                                    <td>@v.Name</td>
                                                    <td>@status</td>
                                                    <td>
                                                        <button type="button" class="btn bg-gradient-dark edit mr-2" id="' + @v.id + '" value="Edit"><i class="fa fa-edit"></i></button>
                                                        <button type="button" class="btn btn-danger delete" id="' + @v.id + '" value="Delete"><i class="fa fa-trash"></i></button>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<script src="~/Scripts/ProjectScript/GroupScript.js"></script>
<script src="~/Scripts/ProjectScript/CrudScript.js"></script>
<script src="~/Scripts/ProjectScript/CommonMethods.js"></script>
<script>

    $(document).ready(function () {
        $('#mainTable').DataTable();
        //GroupScript.RenderDataTable();
    })
    $(document).on('click', '.tree label', function (e) {
        $(this).next('ul').fadeToggle();
        e.stopPropagation();
    });

    $(document).on('change', '.tree input[type=checkbox]', function (e) {
        $(this).siblings('ul').find("input[type='checkbox']").prop('checked', this.checked);
        $(this).parentsUntil('.tree').children("input[type='checkbox']").prop('checked', this.checked);
        e.stopPropagation();
    });

    $(document).on('click', 'button', function (e) {
        switch ($(this).text()) {
            case 'Collepsed':
                $('.tree ul').fadeOut();
                break;
            case 'Expanded':
                $('.tree ul').fadeIn();
                break;
            case 'Checked All':
                $(".tree input[type='checkbox']").prop('checked', true);
                break;
            case 'Unchek All':
                $(".tree input[type='checkbox']").prop('checked', false);
                break;
            default:
        }
    });

    $('#btnSubmit').click(function () {
        GroupScript.SaveGroup();
    })
    $(document).on('click', '.edit', function () {
        var id = $(this).closest('tr').find("td:eq(0)").text();
        GroupScript.EditForm(id);

    });



    $(document).on('click', '.delete', function () {
        GroupScript.DeleteGroup($(this).closest('tr').find("td:eq(0)").text());        
    });

    $('#add').click(function () {
        $("#form").trigger('reset');
        $('.fw-mediumbold').text('New');
        $('#btnUpdate').css('display', 'none');
        $('#btnSubmit').css('display', 'block');
        $('#addRowModal').modal("show");
    })


</script>
