<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card pb-0">
                <div class="card-header">
                    <h6 class="font-weight-bolder mb-0">Route Information</h6>
                    @{
                        if (ViewBag.result != null)
                        {
                            <div class="alert alert-dismissable alert-@ViewBag.status">
                                <p class="text-white">@ViewBag.result</p>
                            </div>
                        }
                    }
                </div>
                <div class="card-body">
                    <form id="form" method="post" action="/Masking/AddMaskingRoutes">
                        <div class="row border">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Maskings:</label>
                                    <div class="form-group">
                                        @Html.Editor("mask", new { htmlAttributes = new { @class = "form-control", placeholder = "Masking", required = true } })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row border border-top-0">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Mobilink:</label>
                                    <div class="form-group">
                                        @Html.DropDownList("route_name_mobilink", new SelectList(AdminPortal.Codebase.MaskProcessing.FindByMobilink(), "id", "route_name"), new
                                   {
                                       @class = "form-control form-control-sm",
                                       required = "true",
                                       id = "route_name_mobilink",
                                   })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Warid:</label>
                                    <div class="form-group">
                                        @Html.DropDownList("route_name_warid", new SelectList(AdminPortal.Codebase.MaskProcessing.FindByMobilink(), "id", "route_name"), new
                                   {
                                       @class = "form-control form-control-sm",
                                       required = "true",
                                       id = "route_name_warid",
                                   })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Zong:</label>
                                    <div class="form-group">
                                        @Html.DropDownList("route_name_zong", new SelectList(AdminPortal.Codebase.MaskProcessing.FindByZong(), "id", "route_name"), new
                                   {
                                       @class = "form-control form-control-sm",
                                       required = "true",
                                       id = "route_name_zong",
                                   })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Telenor:</label>
                                    <div class="form-group">
                                        @Html.DropDownList("route_name_telenor", new SelectList(AdminPortal.Codebase.MaskProcessing.FindByTelenor(), "id", "route_name"), new
                                   {
                                       @class = "form-control form-control-sm",
                                       required = "true",
                                       id = "route_name_telenor",
                                   })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>SCOM</label>
                                    <div class="form-group">
                                        @Html.DropDownList("route_name_SCOM", new SelectList(AdminPortal.Codebase.MaskProcessing.FindBySCOM(), "id", "route_name"), new
                                   {
                                       @class = "form-control form-control-sm",
                                       id = "route_name_SCOM",
                                   })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label>Ufone:</label>
                                <div class="form-group">
                                    @Html.DropDownList("route_name_ufone", new SelectList(AdminPortal.Codebase.MaskProcessing.FindByUfone(), "id", "route_name"), new
                               {
                                   @class = "form-control form-control-sm",
                                   required = "true",
                                   id = "route_name_ufone",
                               })
                                </div>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-md-4">
                                <input type="submit" class="btn bg-gradient-dark" value="Add Routes" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".alert").fadeIn();
        $('.alert').fadeOut(4000);
    });
</script>