@using AdminPortal.Models
@model Tuple<List<MenuModel>, List<Pagination>>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid px-4">
    <div class="row">
        <div class="col-md-12">
            <button id='add' type='button' class='btn bg-gradient-dark' data-toggle="modal" data-target="#addRowModal"><i class='fas fa-plus'></i> Add</button>
        </div>
    </div>
    
    @{
        Html.RenderAction("_createMenu", "Menu"); 
     }
    
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-body">
                    <form id="form" method="post" action="/Menu/Index/@ViewBag.pageNumber">
                        <div class="row">
                            <div class="col-md-3">
                                @Html.LabelFor(model => model.Item1[0].MenuName)
                                <input type="text" name="menu_name" class = "form-control" placeholder = "Menu Name" value="@ViewBag.menu_name"/>
                            </div>
                            <div class="col-md-3">
                                @Html.LabelFor(model => model.Item1[0].MenuUrl)
                                <input type="text" name="menu_url" class="form-control" placeholder="Menu URL" value="@ViewBag.menu_url"/>
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn bg-gradient-dark sender-button mt-4" id="fetch">Search</button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive mb-2">
                        <table class="table align-items-center mb-0 tblmanage table-striped table-bordered mt-2">
                            <thead>
                                <tr>
                                    <th hidden>Id</th>
                                    <th>Menu Name</th>
                                    <th>Menu URL</th>
                                    <th>Controller</th>
                                    <th>Action Method</th>
                                    <th>Is Active</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Item1.Count > 0)
                                {
                                    foreach (var menuItems in Model.Item1)
                                    {
                                        <tr>
                                            <td hidden>@menuItems.Id</td>
                                            <td>@menuItems.MenuName</td>
                                            <td>@menuItems.MenuUrl</td>
                                            <td>@menuItems.Controller</td>
                                            <td>@menuItems.Action</td>
                                            <td>@menuItems.IsActive</td>
                                            <td><button class="btn bg-gradient-dark edit" data-toggle="modal" data-target="#addRowModal">Edit</button><button class="btn bg-gradient-danger delete">Delete</button></td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr><td>No records found</td></tr>
                                }


                            </tbody>
                        </table>
                    </div>

                    @foreach (var paginationItems in Model.Item2)
                    {
                        var previous = paginationItems.currentPage - 1;
                        var next = paginationItems.currentPage + 1;
                        var isActive = "";
                        var start = paginationItems.currentPage - 2;
                        var end = paginationItems.currentPage + 1;

                        if (start < 1)
                        {
                            start = 1;
                        }

                        if (end >= paginationItems.totalPages)
                        {
                            end = paginationItems.totalPages;
                        }
                        else
                        {
                            end += 1;
                        }

                        <nav aria-label="Page navigation example align-middle">
                            <ul class="pagination">
                                @if (paginationItems.currentPage > 1)
                                {
                                    <!--Previous page-->
                                    <li class="page-item text-white">
                                        <a class="page-link bg-gradient-dark text-white" href="/Menu/Index/@previous" aria-label="Previous">
                                            <i class="fa fa-angle-left"></i>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                    </li>
                                }
                                @if (start > 1)
                                {
                                    <!--first page-->
                                    isActive = (paginationItems.currentPage == 1) ? "active" : "";
                                    <li class="page-item text-white @isActive"><a class="page-link bg-gradient-dark text-white" href="/Menu/Index/1">1</a></li>

                                    if (start >= 3)
                                    {
                                        <li class="page-item text-white"><a class="page-link bg-gradient-dark text-white" href="#">...</a></li>
                                    }
                                }

                                <!--links-->
                                @for (var i = start; i <= end; i++)
                                {
                                    isActive = (paginationItems.currentPage == @i) ? "active" : "";
                                    <li class="page-item text-white @isActive"><a class="page-link bg-gradient-dark text-white" href="/Menu/Index/@i">@i</a></li>
                                }

                                <!--last page-->
                                @if (end < paginationItems.totalPages)
                                {
                                    if ((paginationItems.currentPage + 3) != paginationItems.totalPages)
                                    {
                                        <li class="page-item text-white"><a class="page-link bg-gradient-dark text-white" href="#">...</a></li>
                                    }
                                    <li class="page-item text-white"><a class="page-link bg-gradient-dark text-white" href="/Menu/Index/@paginationItems.totalPages">@paginationItems.totalPages</a></li>
                                }

                                @if (paginationItems.currentPage < paginationItems.totalPages)
                                {
                                    <!--Next Page-->
                                    <li class="page-item text-white">
                                        <a class="page-link bg-gradient-dark text-white" href="/Menu/Index/@next" aria-label="Next">
                                            <i class="fa fa-angle-right"></i>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/ProjectScript/MenuScript.js"></script>
<script src="~/Scripts/ProjectScript/CrudScript.js"></script>
<script src="~/Scripts/ProjectScript/CommonMethods.js"></script>
<script>
    var form = $('#form');
    $('#btnSubmit').click(function () {
        if (form.valid()) {
            MenuScript.SaveMenu();
        }
    })

    $(document).on('click', '.edit', function () {
        form.trigger('reset');
        var currentRow = $(this).closest("tr");

        $('#btnUpdate').show();
        $('#btnSubmit').hide();

        var menuId = currentRow.find("td:eq(0)").text();
        var menuName = currentRow.find("td:eq(1)").text();
        var menuURL = currentRow.find("td:eq(2)").text();
        var controller = currentRow.find("td:eq(3)").text();
        var action = currentRow.find("td:eq(4)").text();
        var isactive = currentRow.find("td:eq(5)").text();

        $('#Id').val(menuId);
        $('#MenuName').val(menuName);
        $('#MenuUrl').val(menuURL);
        $('#Controller').val(controller);
        $('#Action').val(action);
        $("input[value='"+isactive+"']").prop('checked', true);
    });

    $('#btnUpdate').click(function () {
        if (form.valid()) 
            MenuScript.UpdateMenu();
    })

    $(document).on('click', '.delete', function () {
        var id = $(this).closest("tr").find("td:eq(0)").text();
        MenuScript.DeleteMenu(id);
    });

    $('#add').click(function () {
        form.trigger('reset');
        $('.fw-mediumbold').text('New');
        $('#btnUpdate').hide();
        $('#btnSubmit').show();
    })
</script>
