@model AdminPortal.Models.ContactGroupModel
<div id="ModalAdd" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h3>Add Group</h3>
            </div>
            @using (Html.BeginForm("_AddGroup", "Contacts", FormMethod.Post, new { id = "formAddGroup" }))
            {
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-6 pr-0">
                            <div class="form-group form-group-default">
                                @Html.LabelFor(model => model.groupname)
                                @Html.EditorFor(model => model.groupname, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Name" } })
                                @Html.ValidationMessageFor(model => model.groupname, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6 pr-0">
                            <div class="form-group form-group-default">
                                @Html.LabelFor(model => model.description)
                                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter Description" } })
                                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 pr-0 offset-6 float-right">
                            <div class="form-group form-group-default">
                                <input type="submit" value="Add Group" class="btn bg-gradient-dark" />
                                <input type="button" value="Cancel" class="btn bg-gradient-danger" data-dismiss="modal"/>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


