@model List<AdminPortal.Models.ContactsModel>
@section style{
    <style>
        .select2 {
            width: 100%
        }
    </style>
}
<div class="container-fluid border-radius-lg">
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow">
                <div class="card-body">
                    <div class="row">
                        @{
                            if (TempData["result"] != null)
                            {
                                <div class="alert alert-dismissable alert-@TempData["status"]" style="background-color: @TempData["status"]">
                                    <p style="color: white">@TempData["result"]</p>
                                </div>
                            }
                        }
                        <div class="col-md-4">
                            <a target="_blank" class="btn bg-gradient-dark m-0" href="/Contacts/Download?fullname=@ViewBag.fullname&email=@ViewBag.email" id="add">Download</a>
                            <button class="btn bg-gradient-dark m-0 add" data-toggle="modal" data-target="#ModalAdd">Add Contact</button>
                        </div>
                        <div class="col-md-4 col-md-offset-4">
                            <form action="/Contacts/ImportContacts" method="POST" id="formImport" enctype="multipart/form-data">
                                <label for="fileUpload">Import File</label>
                                <input class="form-control form-control-sm" value="Import" type="file" name="fileUpload" id="fileUpload" accept=".csv,.xls,.xlsx">
                            </form>
                        </div>
                    </div>
                    <form id="form" method="GET" action="/Contacts/ManageContacts/@ViewBag.pageNumber" class="mt-2">
                        <div class="row">
                            <div class="col-md-4">
                                <input type="email" name="email" class="form-control" placeholder="Enter Email" value="@ViewBag.email" />
                            </div>
                            <div class="col-md-4">
                                <input type="text" name="fullname" class="form-control" placeholder="Enter Full Name" value="@ViewBag.fullname" />
                            </div>
                            <div class="col-md-4">
                                <button type="submit" class="btn bg-gradient-dark sender-button" id="fetch">Search</button>
                            </div>
                        </div>
                    </form>
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered table-striped" id="MainTable">
                            <thead class="bg-gradient-dark text-white">
                                <tr>
                                    <td>Id</td>
                                    <td hidden>User Id</td>
                                    <td>Full Name</td>
                                    <td>Numbers</td>
                                    <td>Email</td>
                                    <td>Group Name</td>
                                    <td>Option 1</td>
                                    <td>Option 2</td>
                                    <td>Option 3</td>
                                    <td hidden>Group Id</td>
                                    <td hidden>ugc_id</td>
                                    <td>Action</td>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (Model.Count > 0)
                                    {
                                        foreach (var v in Model)
                                        {
                                            <tr>
                                                <td>@v.id</td>
                                                <td hidden>@v.user_id</td>
                                                <td>@v.fullname</td>
                                                <td>@v.numbers</td>
                                                <td>@v.emails</td>
                                                <td>@v.groupname</td>
                                                <td>@v.option1</td>
                                                <td>@v.option2</td>
                                                <td>@v.option3</td>
                                                <td hidden>@v.groupid</td>
                                                <td hidden>@v.ugc_id</td>
                                                <td>
                                                    <button class="border-0 text-dark edit" title="Edit" data-toggle="modal" data-target="#ModalUpdate"><i class="fas fa-edit"></i></button>
                                                    <button class="border-0 text-dark assign" title="Group Assign" data-toggle="modal" data-target="#ModelAddAssign"><i class="fa fa-plus-square-o"></i></button>
                                                    <button class="border-0 text-dark delete" title="Delete"><i class="fa fa-trash-o"></i></button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr><td colspan="9" class="text-center">No records found</td></tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <nav aria-label="Page navigation example align-middle">
                        <ul class="pagination">
                            @if (ViewBag.PageNumber > 1)
                            {
                                <li class="page-item text-white"><a class="page-link bg-gradient-dark text-white" href="?Id=1&fullname=@ViewBag.fullname&email=@ViewBag.email">1</a></li>
                                <li class="page-item text-white">
                                    <a class="page-link bg-gradient-dark text-white" href="?Id=@((int)ViewBag.PageNumber - 1)&fullname=@ViewBag.fullname&email=@ViewBag.email" aria-label="Previous">
                                        <i class="fa fa-angle-left"></i>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                            }

                            <li class="m-2 border-radius-md bg-light"><strong>&nbsp;&nbsp;&nbsp;@ViewBag.PageNumber&nbsp;&nbsp;&nbsp;</strong></li>

                            @if (ViewBag.PageNumber < ViewBag.totalPages)
                            {
                                <!--Next Page-->
                                <li class="page-item text-white">
                                    <a class="page-link bg-gradient-dark text-white" href="?Id=@((int)ViewBag.PageNumber + 1)&fullname=@ViewBag.fullname&email=@ViewBag.email" aria-label="Next">
                                        <i class="fa fa-angle-right"></i>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                                <li class="page-item text-white"><a class="page-link bg-gradient-dark text-white" href="?Id=@ViewBag.totalPages&fullname=@ViewBag.fullname&email=@ViewBag.email">@ViewBag.totalPages</a></li>
                            }
                            else
                            {

                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
@{
    Html.RenderAction("_UpdateContact", "Contacts");
    Html.RenderAction("_AddContact", "Contacts");
    Html.RenderAction("_AssignMultipleGroup", "Contacts");
}
<script src="~/Scripts/ProjectScript/CrudScript.js"></script>
<script src="~/Scripts/ProjectScript/CommonMethods.js"></script>
<script>
    $(document).ready(function () {
        $('#MainTable').DataTable({
            paging: false,
            searching: false,
            ordering: false,
            info: false,
        });
        $(".alert").fadeIn();
        $('.alert').fadeOut(4000);
    });
    var formAdd = $('#formAddContact');
    var formUpdate = $('#formUpdateContact');
    var formAssignAddGroup = $('#formAssignAddGroup');
    $('.edit').click(function () {
        resetValidation();
        var table = $('#MainTable').DataTable();
        var data = table.row($(this).closest('tr')).data();

        $('#id').val(data[0]);
        $('#user_id').val(data[1]);
        $('#fullname').val(data[2]);
        $('#numbers').val(data[3]);
        $('#emails').val(data[4]);
        $('#option1').val(data[6]);
        $('#option2').val(data[7]);
        $('#option3').val(data[8]);
        $('.groupname1').val(data[9]);
        $('.groupname1').select2();
        $('#ugc_id').val(data[10]);
    });
    $('.add').click(function () {
        $('.groupname').select2();
    });
    $('.assign').click(function () {
        resetValidation();
        $('.groupname3').val('');
        $('.groupname3').select2({
            placeholder: "Select Multiple",
        });
        formAssignAddGroup.trigger('reset');
        var table = $('#MainTable').DataTable();
        var data = table.row($(this).closest('tr')).data();
        $('#contact_id').val(data[0]);
    });
    $('.delete').click(function () {
        var table = $('#MainTable').DataTable();
        var table_data = table.row($(this).closest('tr')).data();
        DeleteConfirmGET('/Contacts/DeleteContact?id=' + table_data[0] + '&groupId=' + table_data[9]);
    });
    formAdd.submit(function (e) {
        e.preventDefault();
        if (formAdd.valid()) {
            CrudScript.makeAjaxRequest('Post', '/Contacts/_AddContact', formAdd.serialize()).then(function (data) {
                if (data.status == true) {
                    ShowDivSuccess(data.message);
                }
                else {
                    ShowDivError(data.message);
                }
            });
        }
        else {
            ShowDivError("Input data is not valid");
        }
    });
    formUpdate.submit(function (e) {
        e.preventDefault();
        if (formUpdate.valid()) {
            CrudScript.makeAjaxRequest('Post', '/Contacts/_UpdateContact', formUpdate.serialize()).then(function (data) {
                if (data.status == true) {
                    ShowDivSuccess(data.message);
                }
                else {
                    ShowDivError(data.message);
                }
            });
        }
        else {
            ShowDivError("Input data is not valid");
        }
    });
    formAssignAddGroup.submit(function (e) {
        debugger
        var groupname = "";
        $.each($('#groupname3').val(), function (key, val) {
            groupname += val + ",";
        });
        var obj = {};
        obj.id = $('#contact_id').val();
        obj.groupname = groupname;
        e.preventDefault();
        if (formAssignAddGroup.valid()) {
            CrudScript.makeAjaxRequest('Post', '/Contacts/_AssignMultipleGroup', obj).then(function (data) {
                if (data.status == 'true') {
                    ShowDivSuccess(data.message);
                }
                else {
                    ShowDivError(data.message);
                }
            });
        }
        else {
            ShowDivError("Please select Group ");
        }
    });
    $('#fileUpload').change(function () {
        debugger
        var formImport = $('#formImport'); 
        formImport.submit(function (e) {
            formImport.validate({
                rules: {
                    fileUpload: {
                        extension: "csv|xls|xlsx"
                    }
                },
                messages: {
                    fileUpload: {
                        extension: "Please attach csv, xls or xlsx files only"
                    }
                }
            });
            if (!form.valid()) {
                e.preventDefault();
                ShowDivError("please fill out the form");
            }
            else {
                ShowDivSuccess1("Please wait...");
            }
        });
    });
</script>
