@using AdminPortal.Models;
@model IEnumerable<Reseller>

@{
    ViewBag.Title = "AddReseller";
}

<main class="main-content mt-1 border-radius-lg">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
        <div class="container-fluid py-1 px-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
                    <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Home</a></li>
                    <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Reseller</li>
                </ol>
                <h6 class="font-weight-bolder mb-0">Reseller</h6>
            </nav>
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
                <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                    <div class="input-group">
                        <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" placeholder="Type here...">
                    </div>
                </div>
                <ul class="navbar-nav  justify-content-end">

                    <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                        <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                            <div class="sidenav-toggler-inner">
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                                <i class="sidenav-toggler-line"></i>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <!-- End Navbar -->
    <div class="container-fluid px-4">
        <div class="row">
            <div class="col-12">
                <a href="" data-toggle="modal" data-target="#createModal" class="btn bg-gradient-dark">Create</a>
            </div>
        </div>
    </div>
    <div class="container-fluid ">
        @if (Model.Count() > 0)
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="card mb-4">
                        <div class="card-header pb-0">
                            <h6>Resellers</h6>
                        </div>
                        <div class="card-body px-0 pt-0 pb-0">
                            <div class="table-responsive p-0">
                                <table class="table align-items-center mb-0" id="table">
                                    <thead>
                                        <tr>
                                            <th class="text-uppercase text-dark text-xs">@Html.DisplayNameFor(model => model.id)</th>
                                            <th class="text-uppercase text-dark text-xs ps-2">@Html.DisplayNameFor(model => model.username)</th>
                                            <th class="text-uppercase text-dark text-xs">@Html.DisplayNameFor(model => model.email)</th>
                                            <th class="text-uppercase text-dark text-xs">@Html.DisplayNameFor(model => model.pass)</th>
                                            <th class="text-uppercase text-dark text-xs">@Html.DisplayNameFor(model => model.userrole)</th>
                                            <th class="text-uppercase text-dark text-xs">@Html.DisplayNameFor(model => model.ph_no)</th>
                                            <th class="text-secondary opacity-7"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var i in Model)
                                        {

                                            if (i.ph_no == null)
                                            {
                                                i.ph_no = "-";
                                            }

                                            <tr>
                                                <td><p class="text-xs font-weight-bold mb-0 px-3">@i.id</p></td>

                                                <td><p class="text-xs font-weight-bold mb-0">@i.username</p></td>

                                                <td><p class="text-xs font-weight-bold mb-0 ps-1">@i.email</p></td>
                                                <td><p class="text-xs font-weight-bold mb-0 ps-3">@i.pass</p></td>
                                                <td><p class="text-xs font-weight-bold mb-0 ps-3">@i.userrole</p></td>
                                                <td><p class="text-xs font-weight-bold mb-0 ps-3">@i.ph_no</p></td>
                                                <td class="align-middle">
                                                    <a href="" data-toggle="modal" data-target="#editModal" id="edit">Edit</a> |
                                                    @Html.ActionLink("Details", "Details", new { id = i.id }) |
                                                    @Html.ActionLink("Delete", "DeleteReseller", new { id = i.id })
                                                </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</main>

<!-- Edit Reseller Modal -->
<div class="modal fade" id="editModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal body -->
            <div class="modal-body">
                <div class="card card-plain">
                    <div class="card-body">
                        @{
                            Html.RenderAction("EditForm", "ResellerPartials");

                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Create Reseller Modal -->
<div class="modal fade" id="createModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal body -->
            <div class="modal-body">
                <div class="card card-plain">
                    <div class="card-body">
                        @{
                            Html.RenderAction("CreateForm", "ResellerPartials");
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#table").on('click', '#edit', function () {
            // get the current row
            var currentRow = $(this).closest("tr");
            var id = currentRow.find("td:eq(0)").text();
            var username = currentRow.find("td:eq(1)").text();
            var email = currentRow.find("td:eq(2)").text();
            var pass = currentRow.find("td:eq(3)").text();
            var userrole = currentRow.find("td:eq(4)").text();
            var ph_no = currentRow.find("td:eq(5)").text();

            $('#id').val(id);
            $('#username').val(username);
            $('#email').val(email);
            $('#pass').val(pass);
            $('#userrole').val(userrole);
            $('#ph_no').val(ph_no);
        });
    });
</script>